.ng-container {
  margin: 2rem auto !important;
  max-width: 750px;
}

.empty-msg {
  text-align: center;
  margin: 5rem auto 2rem auto;
  font-size: 1.2rem;
  font-weight: 500;
  color: #a0a0a0;
}

.sauce-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 2rem 1rem 4rem;
}

.sauce-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(25% - 2rem); // 4 éléments par ligne avec espace
  min-width: 200px;
  height: 360px; // fixe une hauteur cohérente
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  img {
    min-height: 250px;
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.35s ease-in-out;
    border-radius: 6px;
  }

  h4 {
    margin: 0.5rem 0 0.2rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #333;
  }

  p {
    margin: 0;
    font-size: 0.95rem;
    color: #666;
  }

  &:hover {
    img {
      transform: rotate(-2deg) scale(1.05);
    }
  }
}
