<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container class="ng-container" *ngIf="sauces$ | async as sauces">
  <p class="empty-msg" *ngIf="!loading && sauces.length <= 0">
    Aucune Sauce à Afficher !
  </p>
  <div class="sauce-list" *ngIf="!loading && sauces.length > 0">
    <div
      class="sauce-list-item"
      *ngFor="let sauce of sauces"
      (click)="onClickSauce(sauce._id)"
    >
      <img
        alt="Bouteille de sauce piquante"
        [src]="sauce.imageUrl"
        loading="lazy"
      />
      <h4>{{ sauce.name }}</h4>
      <p>Intensité : {{ sauce.heat }}/10</p>
    </div>
  </div>
</ng-container>
