<nav>
  <div class="left-nav">
    <ul>
      <li>
        <a
          routerLink="sauces"
          routerLinkActive="active"
          *ngIf="isAuth$ | async"
        >
          Toutes les Sauces
        </a>
      </li>
      <li>
        <a
          routerLink="new-sauce"
          routerLinkActive="active"
          *ngIf="isAuth$ | async"
        >
          Ajouter une Sauce
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img alt="Logo flamme" src="../../assets/images/piment.png" />
    </div>
    <div class="logo-text">
      <h1>Piiquante</h1>
      <h5>Les Meilleures Sauces Piquantes du Web</h5>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a
          routerLink="signup"
          routerLinkActive="active"
          *ngIf="!(isAuth$ | async)"
          class="button"
        >
          Inscription
        </a>
      </li>
      <li>
        <a
          routerLink="login"
          routerLinkActive="active"
          *ngIf="!(isAuth$ | async)"
        >
          Connexion
        </a>
      </li>
      <li>
        <a (click)="onLogout()" *ngIf="isAuth$ | async"> Déconnexion </a>
      </li>
    </ul>
  </div>
</nav>
